# dependencies
/node_modules
/.pnp
.pnp.js

# Typescript build
/dist
/build
/out
/lib
/tsconfig.tsbuildinfo

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Expo / React Native specific
.expo
.expo-shared
/android
/ios

# macOS
.DS_Store

# Logs
logs
*.log

# Editor folders
.vscode/
.idea/

# uploads
uploads
